header {
  section {
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        a {
          margin: 0 15px;
          color: $color-primaria;
          font-weight: bold;
        }
      }
    }
  }
}