.sobre-web-desing {
  justify-content: space-between;
  align-items: center;
}

.sobre-web-desing article {
  width: 200px;
}

.sobre-web-desing article h1 {
  font-size: 70px;
  line-height: 90%;
  font-weight: 400;
  color: #333366;
}

.sobre-web-desing article h2,
.sobre-web-desing article p {
  color: #3399CC;
}

.sobre-web-desing article h2 {
  font-size: 30PX;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 200%;
}

.sobre-web-desing article p {
  margin: 10px 0 40px;
}

.sobre-web-desing figcaption img {
  width: 700px;
}